.icon
  display: inline-block
  background-size cover!important

.icon-arrow-down-red
  width 15px
  height 14px
  background url('../img/dashboard-icons/arrow-down-red@2x.png')

.icon-arrow-down
  width 15px
  height 14px
  background url('../img/dashboard-icons/arrow-down@2x.png')

.icon-arrow-up-red
  width 15px
  height 14px
  background url('../img/dashboard-icons/arrow-up-red@2x.png')

.icon-arrow-up
  width 15px
  height 14px
  background url('../img/dashboard-icons/arrow-up@2x.png')

.icon-bitcoin
  width 24px
  height 24px
  background url('../img/dashboard-icons/bitcoin@2x.png')

.icon-bulb
  width 11px
  height 13px
  background url('../img/dashboard-icons/bulb@2x.png')

.icon-down
  width 6px
  height 8px
  background url('../img/dashboard-icons/down@2x.png')

.icon-eye-disabled
  width 15px
  height 13px
  background url('../img/dashboard-icons/eye-disabled@2x.png')

.icon-fullscreen
  width 14px
  height 14px
  background url('../img/dashboard-icons/fullscreen@2x.png')

.icon-heart-gray
  width 11px
  height 10px
  background url('../img/dashboard-icons/heart-gray@2x.png')

.icon-heart-green
  width 11px
  height 10px
  background url('../img/dashboard-icons/heart-green@2x.png')

.icon-minus-active
  width 14px
  height 14px
  background url('../img/dashboard-icons/minus-active@2x.png')

.icon-minus-passive
  width 14px
  height 14px
  background url('../img/dashboard-icons/minus-passive@2x.png')

.icon-notifications
  width 18px
  height 21px
  background url('../img/dashboard-icons/notifications@2x.png')

.icon-pen
  width 12px
  height 12px
  background url('../img/dashboard-icons/pen@2x.png')

.icon-plus-active
  width 14px
  height 14px
  background url('../img/dashboard-icons/plus-active@2x.png')

.icon-plus-passive
  width 14px
  height 14px
  background url('../img/dashboard-icons/plus-passive@2x.png')

.icon-search
  width 18px
  height 18px
  background url('../img/dashboard-icons/search@2x.png')

.icon-settings
  width 45px
  height 17px
  background url('../img/dashboard-icons/settings@2x.png')

.icon-times
  width 10px
  height 10px
  background url('../img/dashboard-icons/times@2x.png')

.icon-triangle-down-gray
  width 10px
  height 5px
  background url('../img/dashboard-icons/triangle-down-gray@2x.png')

.icon-triangle-down
  width 7px
  height 4px
  background url('../img/dashboard-icons/triangle-down@2x.png')

.icon-triangle-up
  width 14px
  height 8px
  background url('../img/dashboard-icons/triangle-up@2x.png')

.icon-user
  width 21px
  height 21px
  background url('../img/dashboard-icons/user@2x.png')
