
// Basic needs
@import 'helpers/colors'
@import 'helpers/reset'
@import 'helpers/sprite'
@import 'helpers/table'

// pages
@import 'pages/register'
@import 'pages/captcha'
@import 'pages/auths'
@import 'pages/dashboard'


